@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glass {
    background: rgba(13, 13, 13, 0.6);
    backdrop-filter: blur(10px);
  }